html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background-color: rgb(15 23 42);

}

* {
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;         
}

a {
  all: unset;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.header {
  background-color: black;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 5000;
}

.icon {
  margin-left: 20px;
}

.icon:hover {
  cursor: pointer;
}

.search {
  margin-left: 20px
}

.search input[type=text] {
  border-radius: 20px;
  padding: 10px;
  width: 100%;
}

.btn {
  padding: 10px;
  width: 100px;
  margin-right: 20px;
  background: none;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  font-size: 16px;
  transition: opacity 0.5s;
  text-align: center
}

.btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.write-post {
  color: white;
  background-color: black;
  border: none;
  width: 100px;
  border-radius: 30px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.5s;
}

.write-post:hover {
  color: lightgray;
  cursor: pointer;
}

.edit-post, .delete-post {
  width: 45px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 5px;
  color: white;
  background-color: black;
  border: 0;
}

.edit-post:hover, .delete-post:hover {
  background: rgba(255,255,255,0.5);
  cursor: pointer;
}

.sub-container {
  margin-top: 50px;
  min-width: fit-content;
  width: 50%;
  height: fit-content;
  color: white;
  text-align: center;
}

.title {
  font-size: 20px;
  font-weight: 800;
  line-height: 5px;
}

.sub-title {
  font-size: 20px;
  opacity: 0.5;
}

.post-container {
  color: white;
  margin-top: 75px;
  width: 800px;

}

.post {
  padding: 30px;
  margin-bottom: 20px;
  min-width: 800px;
}

.post:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  cursor: pointer;
}

.post-summary {
  font-size: 16px;
  opacity: 0.5;
}

.readmore {
  padding-top: 20px;
  color: lightskyblue;
  font-size: 16px;
  font-weight: bold;
}


.post-view{
  margin-top: 100px;
  color: white;
  width: 40%;
}

.post-date {
  opacity: 0.5;
}

.post-content {
  font-size:larger;
  padding-top: 40px;
  padding-bottom: 40px;
  line-height: 40px;
}

.write-header {
  color: white;
  background-color: black;
  width: fit-content;
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
  margin-top: 20px;
}

.publish {
  margin-right: 40px;
  background-color: lightgreen;
  padding: 5px;
  width: 75px;
  text-align: center;
  color: black;
  border-radius: 20px;
  transition: opacity 0.5s;
}

.publish:hover {
  cursor: pointer;
  opacity: 0.8;
}

.write-container {
  color: white;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.write-title:focus, .write-summary:focus {
  all:unset;
}

.write-title, .write-title:focus {
  height: 60px;
  padding-left: 20px;
  font-size: 50px;
  background-color: rgb(15 23 42);
  border: none;
  color: white;
}



.write-summary, .write-summary:focus {
  height: 60px;
  margin-top: 20px;
  padding-left: 20px;
  font-size: 38px;
  background-color: rgb(15 23 42);
  border: none;
  color: white;
}


textarea:focus {
  all: unset;
}

textarea, textarea:focus {
  background-color: rgb(15 23 42);
  border: none;
  color: black;
  margin-top: 25px;
  font-size: 16px;
  padding-left: 20px;
  padding-top: 20px;
}

textarea ::placeholder {
  color: black
}


.write-container ::placeholder {
  color: white
}

.model-close:hover {
  cursor: pointer;
  opacity: 0.7;
}

.login-container input:focus {
  all:unset
}

.login-container input, .login-container input:focus{
  padding: 10px;
  width: 300px;
  margin-top: 20px;
  font-size: 20px;
  background: none;
  border: 0;
  border-bottom: 1px solid white;
  color: white;
}

.login-container ::placeholder {
  color: white;
}

.model-sign-in {
  background-color: black;
  color: white;
  padding: 10px;
  width: 200px;
  margin-top: 40px;
  border: none;
  font-size: 20px;
  border-radius: 20px;
}

.model-sign-in:hover {
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.footer-container {
  display: flex;
  width: 130px;
  margin-left: 450px;
  justify-content: space-between;
}

.comment-icon, .like-icon {
  color: white;
  font-size: 30px;
  
}

.icon-container {
  display: flex;
  color: white
}

.respond-btn {
  padding: 10px;
  border-radius: 20px;
  margin-left: 80%;
  background-color: lightgreen;
  color: white;
  font-weight: bold
}

.comment{
  margin-top: 20px;
  margin-bottom: 20px;
}

.comment-header {
  display: flex;
}

.comment-content {
  margin-top: 10px
}

.comment-footer .like-icon {
  font-size: 20px
}

.comment hr {
  color: red;
  background-color: red;
}