html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background-color: rgb(15 23 42);

}

* {
  font-family: "Josefin Sans", sans-serif;
}

a {
  all: unset;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.header {
  background-color: black;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 5000;
}

.icon {
  margin-left: 20px;
}

.search {
  margin-left: 20px
}

.search input[type=text] {
  border-radius: 20px;
  padding: 10px;
  width: 100%;
}

.write-post {
  color: white;
  background-color: black;
  border: none;
  width: 100px;
  border-radius: 30px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.5s;
}

.write-post:hover {
  color: lightgray;
  cursor: pointer;
}


.sub-container {
  margin-top: 50px;
  width: 50%;
  height: fit-content;
  color: white;
  text-align: center;
}

.title {
  font-size: 20px;
  font-weight: 800;
  line-height: 5px;
}

.sub-title {
  font-size: 20px;
  opacity: 0.5;
}

.post-container {
  color: white;
  margin-top: 75px;
  width: 45%;
}

.post {
  padding: 30px;
  margin-bottom: 20px;
}

.post:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  cursor: pointer;
}

.post-summary {
  font-size: 16px;
  opacity: 0.5;
}

.readmore {
  padding-top: 20px;
  color: lightskyblue;
  font-size: 16px;
  font-weight: bold;
}


.post-view{
  margin-top: 100px;
  color: white;
  width: 50%;
}

.post-date {
  opacity: 0.5;
}

.post-content {
  font-size:larger;
  padding-top: 40px;
  padding-bottom: 40px;
  line-height: 40px;
}

.write-header {
  color: white;
  background-color: black;
  width: fit-content;
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
  margin-top: 20px;
}

.publish {
  margin-right: 40px;
  background-color: lightgreen;
  padding: 5px;
  width: 75px;
  text-align: center;
  color: black;
  border-radius: 20px;
  transition: opacity 0.5s;
}

.publish:hover {
  cursor: pointer;
  opacity: 0.8;
}

.write-container {
  color: white;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.write-title:focus, .write-summary:focus {
  all:unset;
}

.write-title, .write-title:focus {
  height: 60px;
  padding-left: 20px;
  font-size: 50px;
  background-color: rgb(15 23 42);
  border: none;
  color: white;
}



.write-summary, .write-summary:focus {
  height: 60px;
  margin-top: 20px;
  padding-left: 20px;
  font-size: 38px;
  background-color: rgb(15 23 42);
  border: none;
  color: white;
}


textarea:focus {
  all: unset;
}

textarea, textarea:focus {
  background-color: rgb(15 23 42);
  border: none;
  color: white;
  margin-top: 25px;
  font-size: 28px;
  padding-left: 20px;
  padding-top: 20px;
}


.write-container ::placeholder {
  color: white
}
